<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text">
                                <h4>Check Out</h4>
                                <div class="breadcrumb__links">
                                    <a href="./index.html">Home</a>
                                    <a href="./shop.html">Shop</a>
                                    <span>Check Out</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->

            <!-- Checkout Section Begin -->
            <section class="checkout spad">
                <div class="container">
                    <div class="checkout__form">
                        <form>
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <h6 class="checkout__title">Billing Details</h6>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Fist Name<span>*</span></p>
                                                <input type="text" name="firstname">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Last Name<span>*</span></p>
                                                <input type="text" name="lastname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text" name="country">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        <input type="text" placeholder="Address" class="checkout__input__add"
                                            name="address">
                                    </div>
                                    <div class="checkout__input">
                                        <p>City<span>*</span></p>
                                        <input type="text" name="city">
                                    </div>
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        <input type="text" name="state">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        <input type="text" name="pincode">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Phone<span>*</span></p>
                                                <input type="text" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Email<span>*</span></p>
                                                <input type="text" name="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="checkout__order">
                                        <h4 class="order__title">Your order</h4>
                                        <div class="checkout__order__products">Product <span>Total</span></div>
                                        <% products.forEach(p=> { %>
                                            <ul class="checkout__total__products">
                                                <li>
                                                    <%= p.productId.title %> (<%= p.quantity %>) - <span>₹ <%= p.total
                                                                    %>
                                                            </span>
                                                </li>
                                            </ul>
                                            <% }) %>
                                                <ul class="checkout__total__all">
                                                    <li>Total <span>₹ <%= totalSum %></span></li>
                                                </ul>
                                                <button id="order-btn" class="site-btn">PLACE ORDER</button>
                                                <script src="https://js.stripe.com/v3/"></script>
                                                <script>
                                                    var stripe = Stripe('pk_test_51MrwpKSFge0RON0BukA2FBPLsJBcGtM7QJKE6d6v5yw2UsTfmaNjhsZ29W9pe4SbEFv6EhveM7YlZNYDCKDwNlYV002imSU8eT');
                                                    var orderBtn = document.getElementById('order-btn');
                                                    orderBtn.addEventListener('click', function () {
                                                        stripe.redirectToCheckout({
                                                            sessionId: '<%= sessionId %>'
                                                        });
                                                    });
                                                </script>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- Checkout Section End -->

            <%- include('../includes/end.ejs') %>