<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text">
                                <h4>Your Orders</h4>
                                <div class="breadcrumb__links">
                                    <a href="/">Home</a>
                                    <a href="/orders">Orders</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->

            <!-- Shopping Cart Section Begin -->
            <section class="shopping-cart spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="shopping__cart__table">
                                <% if (orders.length <=0) { %>
                                    <h1>Nothing there!</h1>
                                    <% } else { %>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Order Id</th>
                                                    <th>Items</th>
                                                    <th>Invoice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% orders.forEach(order=> { %>
                                                    <tr>
                                                        <td class="product__cart__item">
                                                            <div class="product__cart__item__text">
                                                                <h6>
                                                                    # <%= order._id %>
                                                                </h6>
                                                            </div>
                                                        </td>
                                                        <td class="product__cart__item">
                                                            <% order.products.forEach(p=> { %>

                                                                <p> -
                                                                    <%= p.product.title %> (<%= p.quantity %>)
                                                                </p>

                                                                <% }); %>
                                                        </td>

                                                        <td>
                                                            <p><a href="/orders/<%= order._id %>">Invoice</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <% } %>

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn">
                                        <a href="/products">Continue Shopping</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- Shopping Cart Section End -->


            <%- include('../includes/end.ejs') %>