<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text">
                                <h4>Shop</h4>
                                <div class="breadcrumb__links">
                                    <a href="/">Home</a>
                                    <span>Shop</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->
            <!-- Shop Section Begin -->
            <section class="shop spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="shop__sidebar">
                                <!-- <div class="shop__sidebar__search">
                                    <form action="/searchProducts" method="GET">
                                        <input type="text" name="search" placeholder="Search...">
                                        <button type="submit"><span class="icon_search"></span></button>
                                    </form>
                                </div> -->
                                <div class="shop__sidebar__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-heading">
                                                <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="shop__sidebar__categories">
                                                        <% if (categories) { %>
                                                            <ul class="nice-scroll">
                                                                <li><a href="/products">All</a></li>
                                                                <% categories.forEach( category=> { %>
                                                                    <li>
                                                                        <a href="/getproducts/<%= category.title %>">
                                                                            <%= category.title %>
                                                                        </a>
                                                                    </li>
                                                                    <% }) %>
                                                            </ul>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-heading">
                                                <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                            </div>
                                            <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="shop__sidebar__tags">
                                                        <a href="#">Product</a>
                                                        <a href="#">Bags</a>
                                                        <a href="#">Shoes</a>
                                                        <a href="#">Fashio</a>
                                                        <a href="#">Clothing</a>
                                                        <a href="#">Hats</a>
                                                        <a href="#">Accessories</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="shop__product__option">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="shop__product__option__left">
                                            <!-- <p>Showing 1–12 of 126 results</p> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="shop__product__option__right">
                                            <p>Sort by Price:</p>
                                            <select>
                                                <option value="">Low To High</option>
                                                <option value="">High To Low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Products -->
                            <% if (prods.length> 0) { %>
                                <div class="row">
                                    <!-- single product -->
                                    <% for (let product of prods) { %>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item">
                                                <div class="product__item__pic set-bg"
                                                    data-setbg="<%= product.imagePath %>">
                                                    <ul class="product__hover">
                                                        <li><img src="img/icon/heart.png" alt="">
                                                            <span>Add To Cart</span>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="product__item__text">

                                                    <h6>
                                                        <%= product.title %>
                                                    </h6>
                                                    <a href="/products/<%= product._id %>"
                                                        class="btn btn-outline-secondary">Product
                                                        Details</a>

                                                    <div class="rating">
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <h5>$
                                                        <%= product.price %>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <!-- single product end -->
                                </div>
                                <!-- Products -->
                                <!-- Pagination -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product__pagination">
                                            <%- include('../includes/pagination.ejs', {currentPage: currentPage,
                                                nextPage: nextPage, previousPage: previousPage, lastPage: lastPage,
                                                hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                                                <% } else { %>
                                                    <h1>No Products Found!</h1>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination End -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Shop Section End -->

            <!-- <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product._id %>" class="btn">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main> -->
            <%- include('../includes/end.ejs') %>